---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
	{
		date: "26/10/2021",
		title: "Proyecto Essen",
		description: "Trabajo realizado en conjunto luego de graduarme dentro del Top 10 del curso de Desarrollo web de CoderHouse",
		link: "https://facuib01.github.io/Proyecto-Essen/",
	},
];
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-3">
	{
		EXPERIENCE.map((ex) => (
			<li class="mb-10 ms-4">
				<ExperienceItem {...ex} />
			</li>
		))
	}
</ol>
