<header class="flex justify-center items-center py-3 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-5 gap-y-5 lg:gap-x-10 opacity-80 flex-wrap justify-center">
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
        <a href="#top">Sobre mí</a>
    </nav>
</header>